html{
    background-color: #FFF9D7;
    color: #610C63;
}
*{
    font-family: 'Lato', sans-serif;
}
/* Images styles */
img{
    margin-left: 25%;
    border-radius: 25%;
}

/* headings */
h1,
h2,
h3,
h4{
    text-align: center;
    color: #EE81B3;
    font-size: 24px;
    text-transform: uppercase;
}

p{
    display: flex;
    flex-basis: 2;
}


/* Practice selector relationships */

/* 1-Parent>child selectors */
.container a{
    font-weight:700 ;
    color: yellow;
}